<div class="petition">
    <img class="top-img" src="/dolde2.png" alt="hops">
    <h3>Signers of this Petition</h3>
    <p>We in {{selectedCity}} who have signed this petition. Expect people to buy their beer at their local brewery!</p>

    {{#if error}}
    <div class="error">Oops... Sorry! Something went wrong!</div>
    {{/if}}
</div>

<div class="body-container">
    <div class="container" id="signers">
        <ul>
            {{#each arrSigners}}

            <li>
                {{#if url}}
                <p><a href={{url}}>{{first}} {{last}}</a></p>
                {{else}}
                <p>{{first}} {{last}}</p>
                {{/if}}
                <span>{{age}}</span>
                {{#if city}}
                <p><a href="/signers/{{city}}">{{city}}</a></p>
                {{/if}}
            </li>

            {{/each}}
        </ul>
    </div>
    <div class="logout">
        <a href="/editprofile">Edit Profile</a>
    </div>

    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</div>